<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Youreuler - 404</title>
  <meta name="description" content="Shortenify Urls!">
  <!-- <link rel="stylesheet" href="css/styles.css?v=1.0"> -->
  <style>
    body {
      background-color: #eee;
      padding: 60px;
      font-family: sans-serif;
    }

    h1 {
      font-size: 5em;
    }

    .content {
      width: 60%;
    }
  </style>
</head>

<body>
  <h1> Youreuler </h1>
  <h1> 404 </h1>
  <p> You asked for something we don't have.  Sorry!  <p>
</body>
</html>