<h1> Claim Your Riches in Satisfaction or Coin </h1>

<p>
  <CODE><%= key %></CODE> 
</p>
<p>
  This youreuler is worth <%= value %> Zamboni's.  
</p>
<p>
  If you think the dear soul who sent you this link had your best interests in mind and has given you the irreplacable gift of knowledge and or happiness, you should thank them for sending you this link by doing nothing.  The link will expire in 24 hours and they'll get their money back by way of thanks.  You could also phone them and tell them you appreciate them.  (They'll still get their money back)
</p>

<p>
  If you think the sweet bastard that sent you this piece of crap link should pay for wasting your time making you look at meaningless advertising drivel on the internet, memed, facebook, twitterati bull honkey, get yourself paid and claim it.  The zambonis will go into your youreuler wallet immediately and will be available for withdrawal as soon as an appropriate ZAM:USD exchange rate can be established.
</p>

<p>
  The choice is only yours.
</p>

<button> Do Nothing </button>
<button> Claim </button>

<p>
  *nb: The buttons don't work.
</p>