<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Youreuler</title>
  <meta name="description" content="Shortenify Urls!">
  <!-- <link rel="stylesheet" href="css/styles.css?v=1.0"> -->
  <style>
    body {
      background-color: #eee;
      padding: 60px;
      font-family: monospace;
    }

    h1 {
      font-size: 5em;
    }
  </style>
</head>

<body>
  <div class='content'>
    <h1> youreuler </h1>

    <p> This link is expired and will never work again, has no associated metrics, and means nothing.  It is digital trash in a landfill that will never sublimate into anything other than the forgotten memory of what this link used to go to. </p>

    <p> Sorry. </p>
  </div>
</body>
</html>